<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/sidebar') %>
  <main>
    <header>
      <h1><%= locals.folder.name %></h1>
      <button class="folder-update-btn">Update</button>
    </header>
    <form class="upload-form" action="/file/upload/<%= folder.id %>" method="POST" enctype="multipart/form-data">
      <input class="file-btn" type="file" name="file">
      <button type="submit">Upload</button>
    </form>
    <% if (locals.errors) {%>
      <ul>
          <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
          <% }); %>
      </ul>
    <% } %>
    <%- include('../partials/table') %>
    <div class="modal">
      <form action="/folder/new" method="POST">
        <label for="folderName">Folder Name</label>
        <input type="text" name="folderName">
        <button type="submit">Add</button>
        <button type="button" class="close-modal-btn">Close</button>
      </form>
    </div>
    <%- include('../partials/folderRename') %>
  </main>
</body>
</html>