<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
<body>
  <%- include('../partials/sidebar') %>
  <main>
    <h1><%= locals.folder.name %></h1>
    <button class="folder-update-btn">Update</button>
    <form action="/file/<%= folder.id %>" method="POST" enctype="multipart/form-data">
      <input type="file" name="file">
      <button type="submit">Upload</button>
    </form>
    <table>
      <tr>
        <th>File Name</th>
        <th>Owner</th>
        <th>Date</th>
        <th>Size</th>
        <th>Action</th>
      </tr>
      <% if (locals.files) { %>
        <% files.forEach(file => { %>
          <tr>
            <td><%= file.name %></td>
            <td><%= file.fileOwner.username %></td>
            <td><%= file.uploadedAt %></td>
            <td><%= file.fileSize %> Bytes</td>
            <td>
              <a href="/file/download/<%= file.fileUuid %>">Download</a>
              <form action="/file/delete/<%= file.id %>" method="POST">
                <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
        <% }) %>
      <% } %>
    </table>
    <div class="modal">
      <form action="/folder/new" method="POST">
        <label for="folderName">Folder Name</label>
        <input type="text" name="folderName">
        <button type="submit">Add</button>
        <button type="button" class="close-modal-btn">Close</button>
      </form>
    </div>
    <%- include('../partials/folderRename') %>
  </main>
</body>
</html>